<!-- <app-divider [title]="'Placeholder Component'"></app-divider> -->
<!-- Different way: -->

<app-divider>
    Placeholder Component
</app-divider>

<app-placeholder 
    [header]="true" 
    [lines]="2"
></app-placeholder>

<app-divider>
    Segment Component
</app-divider>

<app-segment>
    <header>
        <i class="pdf outline file icon"></i>
        No documents are listed for this customer.
    </header>
    <button class="ui primary button">
        Add Document
    </button>
</app-segment>

<app-segment>
    <header>
        <i class="add icon"></i>
        Add a resource
    </header>

    <button class="ui primary button">
        Click to button
    </button>
</app-segment>